body {
  background-color: #222;
  margin-top: 0px;
  font-family: 'Roboto', sans-serif;
}

header {
  min-width: 100%;
  background-color: #333;
  padding: 14px;
  padding-bottom: 0px;
  text-align: center;
  font-size: 16px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  overflow: hidden;
  list-style-type: none;
  padding-bottom: -10px;
}

nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;  
}

nav a:hover {
  color: #ccc;
  background-color: #111;
}

li {
  float: left;
  list-style-type: none;
  padding: 0px, 5px, 0px, 5px;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #242424;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ccc;
  color: #242424
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*1ª Parte, página inicial*/

#home h2 {
  color: #ccc;
  text-align: center;
}

p {
  color: #ccc;
  text-align: justify;
  margin-left: 3%;
  margin-right: 3%;
}

/*Parte do menu*/
h2 {
  line-height: 1.33333;
  font-size: 30px;
  text-align: center;
  color: #ccc;
}

#menu-section {
  display: flex;
  justify-content: center;
  align-items: stretch;
  min-height: 100vh;
  margin-top: 43px;
  margin-bottom: -30px;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.col-md-6.col-lg-4 {
  height: 100%;
  min-width: 200px;
  max-width: 370px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Merriweather Sans", sans-serif;
  background-color: black;
  padding-bottom: 20px;
  justify-content: center;
  align-items: stretch;
  transition: transform 0.3s ease-in-out;
  border-radius: 10px; 
}

.col-md-6.col-lg-4:hover {
  transform: scale(1.05);
}

.menu .header-menu {
  position: relative;
  overflow: hidden;
}

.menu .header-menu-inner {
  position: absolute;
  left: 10px;
  right: 10px;
  top: 10px;
  bottom: 10px;
  overflow: hidden;
}

.menu .font-logo {
  position: absolute;
  white-space: nowrap;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  color: #ffffff;
  text-align: center;
  font-weight: 400;
}

.menu .font-logo:before {
  position: absolute;
  left: -110px;
  top: 50%;
  margin-top: -1px;
  content: "";
  display: inline-block;
  height: 1px;
  width: 100px;
  background-image: linear-gradient(to right, #1d1d1d, #ffffff);
  opacity: .3;
}

.menu .font-logo:after {
  position: absolute;
  right: -105px;
  top: 50%;
  margin-top: -1px;
  content: "";
  display: inline-block;
  height: 1px;
  width: 100px;
  background-image: linear-gradient(to right, #ffffff, #1d1d1d);
  opacity: .3;
}

.menu p {
  letter-spacing: 0;
  margin: 0;
  font-weight: bold;
  color: #9b9b9b;
  font-size: 15px;
}

.menu p + p {
  margin-top: 5px;
}

.menu li {
  margin-top: 15px;
  text-align: -webkit-match-parent;
}

.header-menu img {
  vertical-align: middle;
  border-style: none;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.menu ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  padding: 0 35px 55px;
  position: relative;
  margin-top: -8px;
}

.menu-content{
  padding: 0px, 35px, 35px, 35px;
  margin-top: -75px;
}

/*Cardápios especiais*/

.flex-container:hover {
  transform: scale(1.05);
}

.flex-container {
  height: 13.5rem;  
  width: 23rem;
  font-family: "Merriweather Sans", sans-serif;
  background-color: black;
  justify-content: center;  
  align-items: stretch;
  transition: transform 0.3s ease-in-out;
  border-radius: 20px;
  border-style: dashed;
  border-width: 2px;
  border-color: #ccc;
  padding: 10px;

  display: flex;
  align-items: center;
}

@media (max-width: 390px) {
  .flex-container{
    flex-direction: column;
    width: 100%;
    height: auto;
  }

  .nav-bar li {
    display: flex;
    justify-content: center;  
    align-items: center;
    margin: 0;
    padding: 0;
  }
}

.flex-container img {
  width: 193px;
  height: 200px;
  padding: 2%;
  object-fit: cover; 
}

.menu-dish p {
  width: 150px;
  height: auto;
  letter-spacing: 0;
  margin: 0;
  font-weight: bold;
  color: #9b9b9b;
  font-size: 15px;
  padding: 2%;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.flex-container p + p {
  margin-top: 5px;
}

.flex-container li {
  margin-top: 15px;
  text-align: -webkit-match-parent;
}


/*Parte do rodapé*/

footer {
  margin-top: 2%;
  background-color: #333;
  text-align: center;
  position: relative; 
}

address h4, address p, address span{
  color: whitesmoke;
}

address p {
  font-size: 17px;
  text-align: center;
}

.icon{
  display: inline-block;
  width: 30px;
  font-size: 18px;
  color: #ffffff;
}

.infoContato .col-4 address span .text{ 
  position: relative;
  list-style: none;
  margin: 10px 0;
  cursor: pointer;
}

.infoContato address span{ 
  font-weight: 300;
}

.rodape {
  background-color: #222;
  width: 100%;
  padding: 1px;
}

/*Modificações do texto*/

.text-uppercase {
  text-transform: uppercase !important;
}

.font-weight-bold {
  font-weight: 700 !important;
}
